.homePage{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 0px;
    box-sizing: border-box;
    background-color: #F8F8FB;
}
@media (max-width:767px) {
    .homePage {
        flex-direction: column;
        min-height: 100vh;
    }
}

/* Extra Small Mobile - 300px to 319px */
@media (max-width: 319px) {
    .homePage {
        min-width: 300px;
        overflow-x: hidden;
    }
}